{% extends 'base.html.twig' %}
{% block title %}Recept{% endblock %}

{% block extraIncludes %}
    {{ parent() }}
    <script src="{{ asset('js/keywords.js') }}" defer></script>
    <script src="{{ asset('js/ingredientList.js') }}" defer></script>
{% endblock %}

{% block header %} {{ recept.naam | default("Nieuw recept") }} {% endblock %}
{% block body %}

    {% if app.request.query.get("error") == "001" %}
    <div class="alert alert-danger">
        Dit recept bestaat al.
    </div>
    {% endif %}
    <form action="" name="receptForm" method="post" >
        <div class="row form-group">
            <div class="col-sm-12">
                <label for="naam">Naam</label>
                <input type="text" class="form-control" id="naam" name="naam" placeholder="Naam van recept" value="{{ recept.naam | default("") }}">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label for="prijs">Prijs</label>
                <input type="text" class="form-control" id="prijs" name="prijs" placeholder="Prijs van het recept" value="{{ recept.prijs | default("") }}">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label for="keywords">Keywords</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Keywords van het recept" value="{{ recept.keywords | default("") }}">
                <small>keywords gescheiden door een komma</small>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="ingredienten" name="ingredienten" value="{% if recept is defined %}{% for ingredient in recept.ingredienten %} {{ ingredient.id  }}:{{ ingredient.naam  }}: ,{% endfor %} {% endif  %}" placeholder="id:ingrdient:hoeveelheid" >
            </div>
        </div>
        <div class="row form-group">
            <label for="ingredientenList" class="col-sm-12">Ingredienten</label>
            <div class="col-sm-5">
                <select class="form-control" id="ingredientenList">
                    {% for ingredient in ingredienten %}
                        <option value="{{ ingredient.id }}" id="ingredientOption{{ ingredient.id }}">{{ ingredient.naam }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="hoeveelheid" name="hoeveelheid" placeholder="Hoeveelheid" value="">
            </div>
            <div class="col-sm-2">
                <a href="#" id="ingredientenAdd" class="btn btn-primary">Add</a>
            </div>
        </div>
        <div class="form-group">
            <label for="opmerking">Opmerking</label>
            <textarea class="form-control" name="opmerking" id="opmerking" rows="3" placeholder="Opmerking..">{{ recept.opmerking | default("") }}</textarea>
        </div>
        <div class="form-group">
            <input type="hidden" name="id" value="{{ recept.id | default("") }}">
            <button type="submit" class="btn  btn-primary"> <i class="far fa-check-circle"></i> Opslaan</button>
            <a href="{{ path('recepten') }}" class="btn btn-danger"><i class="fas fa-ban"></i> Annuleren</a>
        </div>
    </form>
{% endblock %}