{% extends 'base.html.twig' %}
{% block title %}Ingredient{% endblock %}


{% block header %} {{ ingredient.naam | default("Nieuw ingredient") }} {% endblock %}
{% block body %}

    {% if app.request.query.get("error") == "001" %}
    <div class="alert alert-danger">
        Dit ingredient bestaat al.
    </div>
    {% endif %}
    <form action="" name="ingredientForm" method="post" >
        <div class="form-group">
            <label for="naam">Naam</label>
            <input type="text" class="form-control" id="naam" name="naam" placeholder="Naam van ingredient" value="{{ ingredient.naam | default("") }}">
        </div>
        <div class="form-group">
            <label for="calorieen">Calorieën</label>
            <input type="text" class="form-control" id="calorieen" name="calorieen" placeholder="Aantal calorieën van ingredient" value="{{ ingredient.calorieen | default("")  }}">
            <small>per 100 gram of per stuk</small>
        </div>
        <div class="form-group">
            <label>Eenheden</label>
            <div class="radio">
                <label><input type="radio" name="eenheden" value="0" {% if ingredient.eenheden is defined and ingredient.eenheden == 0 %} checked="checked" {% endif %}> Per 100 gram</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="eenheden" value="1" {% if ingredient.eenheden is defined and ingredient.eenheden == 1 %} checked="checked" {% endif %}> Per stuk</label>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" name="id" value="{{ ingredient.id | default("") }}">
            <button type="submit" class="btn  btn-primary"> <i class="far fa-check-circle"></i> Opslaan</button>
            <a href="{{ path('ingredienten') }}" class="btn btn-danger"><i class="fas fa-ban"></i> Annuleren</a>
        </div>
    </form>
{% endblock %}