{% extends 'base.html.twig' %}
{% block title %}Ingredienten{% endblock %}

{% block header %}Ingredienten{% endblock %}

{% block body %}
<table class="table table-striped table-hover table-sm">
<thead class="">
<tr>
    <th width="5%" class="col-sm-hidden">Id</th>
    <th width="40%">Naam</th>
    <th width="15%">Calorieën</th>
    <th width="40%" class="text-right">
        <a href="{{ path('ingredient') }}" class="btn btn-success btn-sm"><i class="fas fa-plus-circle"></i> Nieuw</a>
    </th>
</tr>
</thead>
<tbody>

{% for item in ingredienten %}
<tr>
    <td class="col-sm-hidden">{{ item.id }}</td>
    <td>{{ item.naam }}</td>
    <td>{{ item.calorieen }}</td>
    <td class="text-right">
        <a href="{{ path('ingredient') }}/{{ item.id }}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Aanpassen</a>
        <a href="{{ path('ingredient') }}/delete/{{ item.id }}" class="btn btn-danger btn-sm" onclick="return confirm('Weet je het zeker?')"><i class="fas fa-trash-alt" ></i> Delete</a>
    </td>
</tr>
{%  endfor %}

</tbody>
</table>
{% endblock %}